.products-page {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.products {
  margin-left: 180px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 500px) {
    margin: 0 auto;
  }
}

.pagination {
  margin-left: 180px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;

  @media screen and (max-width: 500px) {
    margin: 0 auto;
  }
}

.page-button {
  padding: 5px 10px;
  color: cornflowerblue;
  font-size: 18px;
  background-color: white;
  border: 1px cornflowerblue solid;
  border-radius: 20px;
}

.page-button:hover {
  cursor: pointer;
  opacity: .8;
}

.active-page-button {
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  background-color: cornflowerblue;
  border-radius: 20px;
  border: none;
}

.pagination-title {
  font-size: 20px;
}

