.products-page {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.products {
  margin-left: 180px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 500px) {
    margin: 0 auto;
  }
}

